.main {
  background-color: #111725;
  color: #fff;
  margin-top: 3px;
  height: 93vh;
  padding: 8rem;
  margin-top: 3rem;
}

.upperPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputName label {
  display: flex;
  font-size: 18px;
  margin-bottom: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.inputName input {
  padding: 11px 16px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 2px;
}

::placeholder {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.upperPart img {
  height: 18rem;
}

.right p {
  text-align: center;
}
.uploadFiles {
  margin-top: 25px;
}

.uploadFiles h4 {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.inputFile {
  margin-top: 15px;
  margin-bottom: 30px;
}

.inputFile label {
  padding: 5px 8px;
  background-color: #4e34e0;
  border: none;
  outline: none;
  border-radius: 3px;
  margin-right: 20px;
  cursor: pointer;
}

.inputFile label:nth-child(5) {
  padding: 5px 22px;
}

.inputFile input {
  display: none;
}

a {
  text-decoration: none;
  color: #4e34e0;
}

a:hover {
  text-decoration: underline;
}

button {
  display: block;
  padding: 10px 40px;
  margin-top: 20px;
  background: linear-gradient(
    60deg,
    rgba(135, 57, 225, 0.5) 30%,
    rgba(153, 72, 202, 1) 70%,
    rgba(228, 137, 108, 1) 10%
  );
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}

.progressBar {
  height: 9px;
  background-color: #fff;
  width: 320px;
  margin-top: 20px;
  border-radius: 6px;
  position: relative;
  margin-bottom: 5px;
}

.top {
  position: absolute;
  top: -50%;
  font-size: 1px;
  padding: 4px;
  background-color: #fff;
  transform: rotate(45deg);
  margin-left: 8px;
}

.down {
  position: absolute;
  bottom: -50%;
  font-size: 1px;
  padding: 4px;
  background-color: #fff;
  margin-right: 25px;
  transform: rotate(45deg);
  margin-left: 8px;
}

.progressBar p {
  height: 9px;
  width: 25%;
  background-color: #4e34e0;
  border-radius: 6px;
}

.heading p {
  text-align: center;
  font-size: 1.5rem;
  margin: 15px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
